<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1250">
    <style type="text/css">
      #header{ font-size:20px;
          font-family: Tahoma,Arial;
	        color:#000000;
	        font-weight:bold;
      }

      body {color:#55759b;
         font-family: Tahoma,Arial;
      }
    </style>
  <title><3DCityDB>CITYOBJECT/GMLID</3DCityDB></title>
  </head>
  <body>
    <table width=492>
      <tr><td valign=bottom><span id="header">Hello world!</span></td>
          <td align=right valign=bottom><img src="http://www.gis.tu-berlin.de/fileadmin/fg227/Bilder/Projekte/3DCityDB/3dcitydb_logo.png"></td>
      </tr>
    </table>
    <hr style="color:#000000;">
    <table width=500>
      <tr><td>My gml:id is <b><3DCityDB>CITYOBJECT/GMLID</3DCityDB></b></td></tr>
      <tr><td>and I am a <b><3DCityDB>OBJECTCLASS/CLASSNAME</3DCityDB></b> located in <b><3DCityDB>ADDRESS/[FIRST]CITY</3DCityDB></b>.</tr></td>
      <tr><td>I was inserted in this 3DCityDB on <b><3DCityDB>CITYOBJECT/CREATION_DATE</3DCityDB></b></tr></td>
      <tr><td>and last modified on <b><3DCityDB>CITYOBJECT/LAST_MODIFICATION_DATE</3DCityDB></b>.</tr></td>
      <tr><td>My CityGML model contains <b><3DCityDB>THEMATIC_SURFACE/[COUNT]ID[TYPE LIKE '%Roof%']</3DCityDB></b> Roof Surface(s), 
                                        <b><3DCityDB>THEMATIC_SURFACE/[COUNT]ID[TYPE LIKE '%Wall%']</3DCityDB></b> Wall Surface(s), 
                                        <b><3DCityDB>THEMATIC_SURFACE/[COUNT]ID[TYPE LIKE '%Ground%']</3DCityDB></b> Ground Surface(s)
                                        <br>
    </table>
  </body>
</html>
