# git and github related files
.github/
.git/
.gitignore
.gitattributes

# Gradle & build output folder
.gradle/
*/build/

# Unused impexp stuff
resources/
CHANGES.md
LICENSE
README.md

# Unused docker stuff
.dockerignore
docker-scripts/build.sh
Dockerfile
Dockerfile.alpine
