# git and github related files
.github/
.git/

.gitignore
.gitattributes

# Gradle & build output folder
.gradle/
*/build/

# Unused impexp stuff
resources/contribs/**/*windows*
resources/contribs/**/*osx*
resources/javadoc
resources/license
resources/samples
resources/templates
LICENSE
*.md

# Unused docker stuff
.dockerignore
Dockerfile*