[submodule "resources/3dcitydb"]
	path = resources/3dcitydb
	url = https://github.com/3dcitydb/3dcitydb
	branch = release-v4.1
[submodule "resources/3dcitydb-web-map"]
	path = resources/3dcitydb-web-map
	url = https://github.com/3dcitydb/3dcitydb-web-map
	branch = release-v1.9
[submodule "resources/plugins/plugin-ade-manager"]
	path = resources/plugins/plugin-ade-manager
	url = https://github.com/3dcitydb/plugin-ade-manager
	branch = release-v1.2
[submodule "resources/plugins/plugin-spreadsheet-generator"]
	path = resources/plugins/plugin-spreadsheet-generator
	url = https://github.com/3dcitydb/plugin-spreadsheet-generator
	branch = release-v3.2
