[submodule "resources/3dcitydb"]
	path = resources/3dcitydb
	url = https://github.com/3dcitydb/3dcitydb
	branch = master
[submodule "resources/3dcitydb-web-map"]
	path = resources/3dcitydb-web-map
	url = https://github.com/3dcitydb/3dcitydb-web-map
	branch = master
[submodule "resources/plugins/plugin-ade-manager"]
	path = resources/plugins/plugin-ade-manager
	url = https://github.com/3dcitydb/plugin-ade-manager
	branch = master
[submodule "resources/plugins/plugin-spreadsheet-generator"]
	path = resources/plugins/plugin-spreadsheet-generator
	url = https://github.com/3dcitydb/plugin-spreadsheet-generator
	branch = master
