<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1250">
    <style type="text/css">
      #header{ font-size:20px;
          font-family: Tahoma,Arial;
	        color:#000000;
	        font-weight:bold;
      }

      body {color:#55759b;
         font-family: Tahoma,Arial;
      }
    </style>
  <title><3DCityDB>CITYOBJECT/GMLID</3DCityDB></title>
  </head>
  <body>
    <table width=492>
      <tr><td valign=bottom><span id="header">Hello world!</span></td>
          <td align=right valign=bottom><img src="http://www.3dcitydb.net/3dcitydb/fileadmin/3dcitydb/demodata/Logos/3dcitydb_logo.png"></td>
      </tr>
    </table>
    <hr style="color:#000000;">
    <table width=500>
      <tr><td>My gml:id is <b><3DCityDB>CITYOBJECT/GMLID</3DCityDB></b>,</td></tr>
      <tr><td>my gml:name is <b><3DCityDB>CITYOBJECT/NAME</3DCityDB></b>,</td></tr>
      <tr><td>and I am a <b><3DCityDB>OBJECTCLASS/CLASSNAME</3DCityDB></b>.</tr></td>
      <tr><td>I was inserted into this 3DCityDB on <b><3DCityDB>CITYOBJECT/CREATION_DATE</3DCityDB></b></tr></td>
      <tr><td>and last modified on <b><3DCityDB>CITYOBJECT/LAST_MODIFICATION_DATE</3DCityDB></b></tr></td>
      <tr><td>by the database user <b><3DCityDB>CITYOBJECT/UPDATING_PERSON</3DCityDB></b>.</tr></td>
      <tr><td>My lineage is <b><3DCityDB>CITYOBJECT/LINEAGE</3DCityDB></b>.</tr></td>
    </table>
  </body>
</html>
